{% extends "base.html" %}

{% block head %}
<title>GeoRef</title>
{% endblock head %}

{% block contents %}


<div style="margin-left: 30px; max-width: 800px; text-align: center;">

<p style="text-align: left;">
Our GeoRef ground application suite provides highly automated processes 
of calculating the lat/lon coordinates of the center point of the image as well as 
geo-referencing and map overlays associated with the image. Our tool also helps you 
create a shareable map layer that you can display in maps based on the Google Maps 
API and combine with other layers.</p>

<p style="text-align: left;"><i>GeoRef is currently in closed beta. You
must be on the trusted testers list to get access.</i></p>

<p><a class="btn btn-primary get-started" href="{% url 'geocamTiePoint_backbone' %}#overlays/">Let's get started &gt;&gt;</a></p>
Video tutorial featuring our previous version of the tool called "MapFasten".
<iframe width="560" height="315" src="//www.youtube.com/embed/88gt1gj2dbs" frameborder="0" allowfullscreen></iframe>
</div>

{% endblock contents %}
