*.pyc
media/ugc
docs/_build/
src/
pip-log.txt
media/js/*.r*.js
media/css/*.r*.css
*DS_Store
*.egg-info
*~
/sourceme.sh
/dev.db
/settings.py
/sourcme.sh
/build/
/data
manage_pydev.py
imageregistration
Ashe-GeocamSpace
apps/georef_imageregistration
apps/georef_imageregistration/*
submodules/georef_imageregistration
submodules/georef_imageregistration/*
database_backups/
db.sqlt
osd_sandbox*

