[submodule "submodules/geocamAppEngineLibs"]
	path = submodules/geocamAppEngineLibs
	url = git://github.com/yglee/geocamAppEngineLibs.git
[submodule "submodules/geocamTiePoint"]
	path = submodules/geocamTiePoint
	url = git://github.com/yglee/geocamTiePoint.git
[submodule "submodules/geocamUtilWeb"]
	path = submodules/geocamUtilWeb
	url = git://github.com/yglee/geocamUtilWeb.git
