[submodule "submodules/geocamTiePoint"]
	path = submodules/geocamTiePoint
	url = https://github.com/nasa/georef_geocamtiepoint.git
[submodule "submodules/geocamUtilWeb"]
	path = submodules/geocamUtilWeb
	url = https://github.com/nasa/georef_geocamutilweb.git
[submodule "submodules/georef_imageregistration"]
	path = submodules/georef_imageregistration
	url = https://github.com/nasa/georef_imageregistration.git
[submodule "submodules/geocamPycroraptor2"]
	path = submodules/geocamPycroraptor2
	url = https://github.com/geocam/geocamPycroraptor2.git

