{% extends "base.html" %}

{% block head %}
<title>MapFasten</title>
{% endblock head %}

{% block contents %}


<div style="margin-left: 30px; max-width: 800px; text-align: center;">

<p style="text-align: left;">MapFasten helps you quickly align an image or PDF with a map,
creating a shareable map layer that you can display in maps
based on the Google Maps API and combine with other layers.</p>

<p style="text-align: left;"><i>MapFasten is currently in closed beta. You
must be on the trusted testers list to get access. If you want to use
MapFasten for activities related to crisis response, please send email
explaining what you plan to do to <a
href="mailto:mapfasten-signup@googlegroups.com">the mapfasten-signup
mailing list</a></i>.</p>

<p><a class="btn btn-primary get-started" href="{% url geocamTiePoint_backbone %}#overlays/">Let's get started &gt;&gt;</a></p>
<iframe width="560" height="315" src="http://www.youtube.com/embed/88gt1gj2dbs" frameborder="0" allowfullscreen></iframe>
</div>

{% endblock contents %}
