# __BEGIN_LICENSE__
# Copyright (C) 2008-2010 United States Government as represented by
# the Administrator of the National Aeronautics and Space Administration.
# All Rights Reserved.
# __END_LICENSE__

# This is a pip requirements file
# http://pip.openplans.org/requirement-format.html

# This is a place to specify any Python dependencies your site has that
# are not already specified in the requirements.txt file of one of your
# apps.
