<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% block head %}
    {% endblock head %}

    {% block style %}
       <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}georef/css/base.css"></link>
       <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}external/css/bootstrap.min.css"></link>
       <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geocamTiePoint/css/backbone.css"></link>
    {% endblock style %}
  </head>
  <body>
    {% block header %}
      {% include "header.html" %}
    {% endblock header %}

    <div id="contents">
      {% block contents %}
      {% endblock contents %}
    </div>

    {% block footer %}
      {% include "footer.html" %}
    {% endblock footer %}

    {% block scripts %}
    {% endblock scripts %}

    <script type="text/javascript" charset="utf-8">
      {% block jsInit %}
      {% endblock %}
    </script>
  </body>
</html>
