{% extends "base.html" %}

{% block siteSection %}Login{% endblock %}

{% block contents %}
<h3>Login</h3>

{% if form.errors %}
<b><font color="red"><p>Invalid username or password. Please try again.</p>
</font></b>
{% endif %}

<form method="post" action=".">
<table>
<tr><td>{{ form.username.label_tag }}</td><td>{{ form.username }}</td></tr>
<tr><td>{{ form.password.label_tag }}</td><td>{{ form.password }}</td></tr>
</table>

<br/>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
{% csrf_token %}
</form>

{% endblock %}
