{% extends "base.html" %}

{% block siteSection %}Terms of Service{% endblock %}

{% block contents %}

<div class="termsContainer">

<div class="termsTitle">MapFasten Prototype Terms of Service</div>

<p>This MapFasten prototype is a test intended for demonstration
purposes only.  THIS SERVICE IS PROVIDED WITH ABSOLUTELY NO
WARRANTY. This service may be discontinued at any time.</p>

<p>Image overlays and other information you submit to this service will be
available for anyone to view on this web site and we may use them in
presentations as examples of how the service is used.</p>

</div>

{% endblock contents %}
